
<div id="<%= dom_id classroom %>">
  <p>
    <strong>Name:</strong>
    <%= classroom.name %>
    <strong>Student Amount:</strong>
    <%= classroom.students.length %>
  </p>

  <p>
    <strong>Student amount:</strong>
    <%= classroom.student_amount %>
  </p>

  <p>
    <strong>Student amount:</strong>
    <%= classroom.student_amount %>
  </p>

</div>
